# Python
__pycache__/
*.pyc
*.pyo
.venv/
venv/

# Pulumi
infra/.pulumi/
infra/venv/
infra/__pycache__/

# Terraform
terraform/.terraform/
terraform/.terraform.lock.hcl
terraform/terraform.tfstate
terraform/terraform.tfstate.backup

# Lambda build artifact
dist/
